@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

:root {
  --efuse-border: 1px solid #CED7E7;
  --efuse-font-normal: rgba(18, 21, 29, 0.6);
  --efuse-font-bold: #12151D;
  --efuse-font-content: rgba(18, 21, 29, 0.87);
  /* naming eye roll */
  --efuse-font-content-fade: rgba(18, 21, 29, 0.3);
  /* end eye roll */
  --efuse-orange-full: #F44900;
  --efuse-orange-fade: rgba(244, 73, 0, 0.3);
  --efuse-blue-full: #006CFA;
  --efuse-blue-fade: rgba(0, 108, 250, 0.3);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: open-sans;
  color: var(--efuse-font-normal)
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
